# ---------------------------------------------
# FRONTEND VITE CONFIGURATION (Public)
# ---------------------------------------------
# These variables contain the public configuration for the client Firebase SDK.
VITE_FIREBASE_API_KEY=AIzaSyBhdK4tSzTUU_n1UV7b8hPJF1ZK9cmNR4s
VITE_FIREBASE_AUTH_DOMAIN=liev-69588.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://liev-69588-default-rtdb.europe-west1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=liev-69588
VITE_FIREBASE_STORAGE_BUCKET=liev-69588.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=619867900437
VITE_FIREBASE_APP_ID=1:619867900437:web:2ab4f6ad25b38b166c9c1c
VITE_FIREBASE_MEASUREMENT_ID=G-K4JG8RRF0W

# ---------------------------------------------
# BACKEND EXPRESS CONFIGURATION (Secret)
# ---------------------------------------------
# Store the Firebase Service Account JSON payload here as a string.
# NEVER expose this to the client (Do NOT prefix with VITE_)
FIREBASE_SERVICE_ACCOUNT_KEY='{"type": "service_account", "project_id": "liev-69588", "private_key": "...", "client_email": "..."}'
